body {
    text-align: center;
}

#background-img {
    z-index: -1;
    height: 50rem;
    filter: blur(5px);
}

#hero {
    background: url("https://ind-distribution.com/cdn/shop/products/578e77afc50f640cd4c324db682400a1_1024x1024_40f184ae-7991-4636-908e-d8540682b0fc_1024x1024.jpg?v=1604515853");
    height: 25rem;
    filter: brightness(60%);
}

#headphones {
    max-height: 35rem;
}

body h1 {
    font-size: 36px;
    color: #ff6347;
    margin-bottom: 10px;
    text-shadow: 0 0 10px #ff6347;
}

body p {
    font-size: 16px;
    margin-bottom: 30px;
}

.sound-card {
    background: rgba(34, 34, 34, 0.9);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    max-width: 400px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.light-mode .sound-card {
    background: rgba(227, 227, 227, 0.9);
}

.sound-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(255, 99, 71, 0.5);
}

.car-sound-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.sound-card:hover .car-sound-image {
    transform: scale(1.05);
    filter: brightness(110%);
}

.sound-card h2 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 15px;
    font-family: 'Orbitron', sans-serif;
}

.light-mode .sound-card h2 {
    color: black;
}

.sound-btn {
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.sound-btn:hover {
    background-color: #fff;
    color: #ff6347;
    transform: scale(1.1);
}
