#hero {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    color: #ff6347;
    text-shadow: 0 0 10px #ff6347;
}

.accordion-button {
    background-color: #1c1c1c;
    color: #ffffff;
    border: none;
    padding: 15px;
    text-align: left;
}

.accordion-button:not(.collapsed) {
    background-color: #ff6347;
    color: #ffffff;
}

.accordion-body {
    background-color: black;
    color: #ffffff;
}

button {
    background-color: #ff6347;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #e5533e;
}

.light-mode .accordion-button {
    background-color: #bfbfbf;
    color: black;
    border: none;
    padding: 15px;
    text-align: left;
}

.light-mode .accordion-button:not(.collapsed) {
    background-color: #ff6347;
    color: #ffffff;
}

.light-mode .accordion-body {
    background-color: white;
    color: black;
}
