#classic-cars-intro {
    text-align: center;
    padding: 2rem;
    background: linear-gradient(to bottom, #1a1a1a, #000);
    color: #ddd;
}

.light-mode #classic-cars-intro {
    background: linear-gradient(to right, #d3d3d3, #ffffff);
    color: black;
}

#classic-cars-intro h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #ff6347;
    text-shadow: 0 0 10px #ff6347;
}

#classic-cars-intro p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 1.8;
}

.car-showcase {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 1rem;
    animation: fadeIn 1.5s ease-in-out;
}

.car-card {
    z-index: -1;
    background: linear-gradient(145deg, #1e1e1e, #2c2c2c);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 6px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    position: relative;
    height: 27rem;
    width: 24rem;
}

.light-mode .car-card {
    background: linear-gradient(to right, #d6d6d6, #c3c3c3);
}

.car-card img {
    max-height: 15rem;
    max-width: 23rem;
}

.neon-text {
    color: #ff6347;
    font-size: 22px;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    text-shadow: 0 0 8px #ff6347, 0 0 16px #ff6347, 0 0 24px #ff6347;
    margin-top: 15px;
}

.light-mode .neon-text {
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 6px 10px rgba(0, 0, 0, 0.3);
}

.car-image {
    transition: transform 0.5s ease, filter 0.5s ease;
    filter: brightness(80%);
}

.cars-info {
    text-align: center;
}

#classic-cars-facts {
    padding: 2rem;
    background: linear-gradient(to bottom, #3a3a3a, #111);
    color: #ddd;
    text-align: center;
}

.light-mode #classic-cars-facts {
    background: linear-gradient(to right, #d6d6d6, #c3c3c3);
}

#classic-cars-facts h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #ff6347;
    text-shadow: 0 0 8px #ff6347;
}

#classic-cars-facts h3 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #ff6347;
    text-shadow: 0 0 5px #ff6347;
}

#classic-cars-facts p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
    max-width: 50rem;
    justify-content: center;
    justify-self: center;
}

.light-mode #classic-cars-facts p{
    color: black;
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



footer {
    width: 101%;
}