#hero {
    text-align: center;
    padding: 4rem 1rem;
    background: linear-gradient(45deg, #1a1a1a, #333);
    color: white;
}

.light-mode #hero {
    background: linear-gradient(45deg, #ffffff, #aeaeae);
    color: black;
}

#hero h1 {
    color: #ff6347;
    font-size: 3rem;
    margin-bottom: 1rem;
}

#hero p {
    font-size: 1.5rem;
    margin: 0;
}

#under-hero {
    text-align: center;
    font-size: 0.8rem;
}

#under-hero h1 {
    font-weight: lighter;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    animation: fadeIn 2s;
}

.hero h2 {
    font-size: 2.5em;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero p {
    font-size: 1.2em;
    margin-top: 10px;
}

#info-sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive columns */
    gap: 20px;
    padding: 20px;
    animation: slideUp 1s ease-in-out;
}

.info-block {
    background: #333;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.light-mode .info-block {
    background: #eaeaea;
    color: black;
}

.info-block:hover {
    transform: scale(1.05);
}

.info-block img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s;
    margin-bottom: 4.5rem;
}

.info-block:hover img {
    transform: scale(1.1); 
}

.info-block h2 {
    padding: 15px;
    background: #333;
    color: #ff6347;
    font-size: 1.5em;
    text-align: center;
}

.light-mode .info-block h2 {
    background-color: #eaeaea;
}

.info-block p {
    padding: 15px;
    color: white;
    line-height: 1.6;
    font-size: 1rem;
}

.light-mode .info-block p {
    color: black;
}

section  a {
    font-weight: normal;
    border-radius: 1rem;
}

a img {
    border-radius: 1rem;
}