#contact-form-section {
    margin: 20px auto;
    max-width: 950px;
    text-align: left;
}

#fake-contact-form .fake-input {
    margin-bottom: 15px;
}

#fake-contact-form .fake-input span {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

#fake-contact-form .fake-field {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #aaa;
    font-size: 14px;
}

#fake-contact-form .fake-textarea {
    height: 100px;
}

#fake-contact-form .fake-button {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}

#fake-contact-form .fake-button:hover {
    background-color: #0056b3;
}

#contact-details {
    margin: 20px auto;
    max-width: 950px;
}

#contact-details ul {
    list-style: none;
    padding: 0;
}

#contact-details li {
    margin-bottom: 10px;
    font-size: 16px;
}

#contact-details a {
    color: #007bff;
    text-decoration: none;
}

#contact-details a:hover {
    text-decoration: underline;
}
